@import url("https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&family=Courgette&family=Poiret+One&family=Sansita+Swashed:wght@400;700;900&display=swap");
body {
	margin: 0;
	font-family: "Poiret One", cursive;
	font-weight: bold;
	font-size: 1.17rem;
	letter-spacing: 0.09px;
}
h1 {
	font-family: "Sansita Swashed", cursive;
	font-weight: bold;
}
h2 {
	font-family: "Carter One", cursive;
	font-weight: normal;
	font-size: 1.4rem;
}
h3 {
	font-family: "Acme", sans-serif;
	font-size: 1.25rem;
	font-weight: lighter;
}
hr {
	margin: 2rem 0;
}
.brand-name {
	font-family: "Courgette", cursive;
	font-weight: normal;
	font-size: 2.5rem;
	text-align: center;
}
.desc {
	font-family: "Acme", sans-serif;
	font-size: 1.25rem;
	font-weight: lighter;
}
.container {
	padding: 1rem 1rem;
}
.center-container {
	max-width: 70%;
	margin: auto;
	text-align: center;
}
.link {
	text-decoration: none;
	padding: 0.5rem;
	font-family: "Acme", sans-serif;
	font-weight: lighter;
}
.primary-link {
	border: 2px solid;
	letter-spacing: 1.2px;
}
.secondary-link {
	border: 2px solid;
	letter-spacing: 1.2px;
}
.list {
	list-style: none;
}
.inline-list-items {
	display: inline;
	padding: 0 0.5rem;
}
.navigation {
	border: 2px solid;
}
.nav-brand {
	display: inline-block;
	width: 30%;
	margin: 2rem;
	font-family: "Acme", sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
}
.nav-links {
	display: inline-block;
	width: 30%;
	padding: 0;
	margin: 2rem;
	text-align: right;
	position: absolute;
	right: 0;
}
.active {
	font-weight: bold;
}
